@import url('https://fonts.googleapis.com/css2?family=Lexend&display=swap');

:root {
    --color-primary: #0065FC;
    --color-secondary: #DEEBFF;
    --color-tertiary: #e7e7e767;
    --radius-box: 30px;
    --radius-hotel: 15px;
}

body {
    font-family: 'Lexend', sans-serif;
    margin: 0;
    padding: 0;
    overflow-y: auto
}

header {
    position: relative;
    height: 9rem;
    background-color: rgb(241, 246, 250);
}
header > div {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

header > img {
    height: 60px;
}

#retour {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 30px;
    padding: 20px 70px 20px 70px;
    color: var(--color-primary);
    cursor: pointer;
}
main {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
#blockConCré {
    width: 35rem;
    margin-top: 80px;
    margin-bottom: 30px;
    display: flex;
}
#blockConCré > div {
    padding-bottom: 10px;
    width: 50%;
    cursor: pointer;
    border-bottom: solid transparent;
}
#blockConCré > div:hover {
    border-bottom: solid var(--color-primary);
}
#blockConCré > div > div {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
    transition: transform 0.1s ease-in-out;
}
#blockConCré > div > div:hover {
    transform: scale(1.1);
}

#formulaire {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.block {
    width: 35rem;
    height: 5rem;
    border-radius: 30px;
    background: rgba(186, 202, 233, 0.10);
    box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.25);
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    margin-bottom: 3rem;
}
.inputStyle {
    border: none;
    flex: 1;
    height: 95%;
    background-color: transparent;
    color: rgba(0, 0, 0, 0.50);
    font-size: 20px;
    font-style: italic;
    font-weight: 500;
    border-radius: 0 30px 30px 0;
}
.block > i {
    font-size: 50px;
    color:#4979D1;
    margin: 0 14px 0 14px;
}
#blockMdp {
    width: 35rem;
    display: flex;
}
#blockMdp > * {
    color: #000;
    font-size: 22px;
    font-style: italic;
    text-decoration-line: underline;
    margin: 0;
}
#connecter {
    margin-top: 3rem;
    width: 202px;
    height: 65px;
    border-radius: 15px;
    background-color: #4979D1;
    color: white;
    font-size: 20px;
    border: none;
    cursor: pointer;
}
#condition {
    margin-top: 40px;
    width: 35rem;
}
#create {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}
#create > div {
    display: flex;
    height: 45rem;
}
#divInput {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
#divInput > div {
    display: flex;
}
#texte{
    margin-right: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
#texte > div{
    display: flex;
    justify-content: end;
    align-items: center;
    height: 3rem;
}
.blockInput{
    position: relative;
    border: none;
    height: 3rem;
    border-radius: 30px;
    background: rgba(186, 202, 233, 0.10);
    box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.25);
}
#creerCompte {
    margin-top: 5rem;
    margin-bottom: 5rem;
    width: 202px;
    height: 65px;
    border-radius: 15px;
    background-color: #4979D1;
    color: white;
    font-size: 20px;
    border: none;
    cursor: pointer;
}
.hide {
    display: none !important;
}
.invalid {
    background-color: rgba(255, 0, 0, 0.2);
}
